.row {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  background-color: white;
  border-radius: 12px;
  padding: 10px 12px;
  align-items: center;
  border: 1px solid #ddd;
}

.input {
  flex: 1;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 600;
  color: #111;
  outline: none;
  padding: 8px 0;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.input:hover,
.input:focus {
  background-color: #f1f1f1;
}

.select {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  padding: 8px 0;
  color: #111;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.select:hover,
.select:focus {
  background-color: #f1f1f1;
}
