.sendButton {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    background-color: #191c1f;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s ease;
  }
  
  .sendButton:hover:enabled {
    background-color: #393c3f;
  }
  
  .sendButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  